<div class="container">
  <div class="card-deck" *ngFor="let data of array">
    <div class="card text-center" >
      <div class="card-block">
        <h4 class="card-title">Permits</h4>
        <p class="card-text">
          Apply for parking permit
          <br> View existing permit requests
          <br> Activate Visitor permits
          <br>
        </p>
      </div>
      <div class="card-footer">
        Link
      </div>
    </div>

    <div class="card text-center">
      <div class="card-block">
        <h4 class="card-title">Vehicles</h4>
        <p class="card-text">
          View and manage your vehicles
        </p>
      </div>
      <div class="card-footer">
        Link
      </div>
    </div>

    <div class="card text-center">
      <div class="card-block">
        <h4 class="card-title">Parking Tickets</h4>
        <p class="card-text">
          View your parking ticket history
        </p>
      </div>
      <div class="card-footer">
        Link
      </div>
    </div>
  </div>
</div>



<!--<h3 class="first">Addons</h3>-->
<!--<div class="ui-g ui-fluid">-->
<!--  <div class="ui-g-12 ui-md-4">-->
<!--    <div class="ui-inputgroup">-->
<!--      <span class="ui-inputgroup-addon"><i class="pi pi-user" style="line-height: 1.25;"></i></span>-->
<!--      <input type="text" pInputText placeholder="Username">-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->
